<ion-card class="tarjeta-carrito-container-principal">
  <ion-card-content>

    @if (cargando) {
      <div class="ion-text-center ion-padding">
        <ion-spinner name="crescent"></ion-spinner>
        <p>Cargando ingredientes...</p>
      </div>
    } @else {

      @for (item of listaCompraIngredientes; track item.idLista) {
        <div class="lista-contenedor">
          <ion-card class="producto-card">
            <div class="producto-container">

              <div class="imagen-container">
                <ion-img
                  [src]="item.ingrediente.imagenUrl"
                  [alt]="'Imagen de ' + item.ingrediente.nombre"
                  class="imagen-ingrediente"
                ></ion-img>
              </div>

              <div class="producto-info">
                <p class="producto-nombre">{{ item.ingrediente.nombre }}</p>
                <p class="producto-descripcion">
                  {{ item.ingrediente.descripcion }} - Cantidad:
                  <strong>{{ item.cantidad }}</strong> {{ item.ingrediente.unidadMedida }}
                </p>
              </div>

            </div>
          </ion-card>
        </div>
      } @empty {
        <div class="empty-state">
          <ion-text>
            <p style="color: white">Tu carrito está vacío.</p>
          </ion-text>
        </div>
      }

    }

  </ion-card-content>
</ion-card>
