<ion-content class="ion-padding registro-container">

  <div class="registro-imagen-container">
    <img src="assets/images/logo.png" alt="Logo" />
  </div>

  <ion-item>
    <ion-input
      label="Nombre de usuario"
      labelPlacement="floating"
      id="nombre"
      type="text"
      [(ngModel)]="nuevoUsuario.nombre">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Email"
      labelPlacement="floating"
      id="correo_electronico"
      type="email"
      [(ngModel)]="nuevoUsuario.correoElectronico">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Contraseña"
      labelPlacement="floating"
      id="contrasena"
      type="password"
      [(ngModel)]="nuevoUsuario.contrasena">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Confirmar contraseña"
      labelPlacement="floating"
      id="confirmar_contrasena"
      type="password"
      [(ngModel)]="confirmar_contrasena">
    </ion-input>
  </ion-item>

  <ion-label style="margin-top: 15px; display: block; margin-left: 16px;">
    Fecha de nacimiento
  </ion-label>

  <ion-item>
    <ion-datetime
      id="fecha_nacimiento"
      presentation="date"
      locale="es-ES"
      [(ngModel)]="nuevoUsuario.fechaNacimiento"
      [max]="getFechaMaxima()">
    </ion-datetime>
  </ion-item>

  @if (nuevoUsuario.fechaNacimiento) {
    <ion-text color="medium">
      <p style="margin-left: 16px;">
        Fecha seleccionada: {{ getFechaFormateada(nuevoUsuario.fechaNacimiento) }}
      </p>
    </ion-text>
  }

  <ion-button expand="block" class="registro-boton" (click)="agregarUsuario()">
    Registrarse
  </ion-button>

</ion-content>
