@if (usuario) {
  <ion-card class="perfil-card" color="light">
    <ion-card-content class="perfil-content">

      <div class="avatar-wrapper" style="position: relative; display: inline-block;">
        <ion-avatar class="perfil-avatar">
          <img [src]="usuario.fotoUrl" alt="Avatar del usuario" (error)="onImageError($event)" (click)="cambiarFoto()" />
        </ion-avatar>

        <ion-button
          size="small"
          fill="solid"
          color="secondary"
          class="cambiar-foto-btn"
          (click)="cambiarFoto()"
          style="position: absolute; bottom: 0; right: 0; border-radius: 50%; padding: 4px;"
        >
          <img class="img_boton" src="assets/images/editar_icono.png" alt="Imagen Editar">
        </ion-button>

      </div>

      <ion-text>
        <h2 class="perfil-nombre">{{ usuario.nombre }}</h2>
      </ion-text>

      <div class="perfil-datos">
        <ion-text>
          <p>
            <strong>Fecha de nacimiento:</strong>
            @if (!editarFecha) {
              <span>{{ usuario.fechaNacimiento || 'No registrada' }}</span>
            } @else {
              <ion-input
                [(ngModel)]="usuario.fechaNacimiento"
                type="date"
                style="width: auto;"
              ></ion-input>
            }
          </p>
        </ion-text>

        <img
          src="assets/images/lapiz.webp"
          class="editar-icono"
          alt="Editar"
          (click)="toggleEditar('fechaNacimiento')"
          style="cursor: pointer; width: 20px; margin-left: 10px;"
        />

        @if (editarFecha) {
          <ion-button size="small" (click)="guardarCampo('fechaNacimiento')">
            Guardar
          </ion-button>
        }
      </div>

      <div class="perfil-datos">
        <ion-text>
          <p>
            <strong>Email:</strong>
            @if (!editarEmail) {
              <span>{{ usuario.correoElectronico || 'No registrado' }}</span>
            } @else {
              <ion-input
                [(ngModel)]="usuario.correoElectronico"
                type="email"
                style="width: auto;"
              ></ion-input>
            }
          </p>
        </ion-text>

        <img
          src="assets/images/lapiz.webp"
          class="editar-icono"
          alt="Editar"
          (click)="toggleEditar('correoElectronico')"
          style="cursor: pointer;"
        />

        @if (editarEmail) {
          <ion-button size="small" (click)="guardarCampo('correoElectronico')">
            Guardar
          </ion-button>
        }
      </div>

      <ion-button class="perfil-boton" (click)="irAInventario()">Ver Inventario</ion-button>

    </ion-card-content>
  </ion-card>
}
