<ion-header>
  <app-cabecera></app-cabecera>
</ion-header>

<ion-content>

  <div class="box-pref-sb">

    <ion-select
      class="select-preferencias"
      placeholder="Filtro"
      selectedText="Filtro"
      [multiple]="true"
      interface="popover"
      okText="Aceptar"
      cancelText="Cancelar"
      (ionChange)="filtrar($event.detail.value)">

      @for (p of preferencias; track p.id) {
        <ion-select-option [value]="p.id">
          {{ p.nombre }}
        </ion-select-option>
      }
    </ion-select>

    <app-search-bar (searchChange)="onSearch($event)"></app-search-bar>

    <button class="btn-in-receta" (click)="abrirModalInsertar()">
      <img style="width: 40%; height: 60%" src="assets/images/btn_mas_sinfondo.png" alt="Mas">
    </button>

  </div>

  <div class="titulo-img">
    <img src="assets/images/explorar_logo.png" alt="Explorar">
  </div>

  <div class="tarjetas">
    @for (receta of recetasFiltradas; track receta.id) {
      <app-tarjeta-receta [receta]="receta"></app-tarjeta-receta>
    } @empty {
      <p style="text-align: center;">No se encontraron recetas con esos filtros.</p>
    }
  </div>

</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
