<div class="contenedor">

  <ion-button class="boton" (click)="abrirModalInsertar()">
    Crear Nueva Colección
  </ion-button>


  <div class="lista-colecciones">

    @for (coleccion of colecciones; track coleccion.id) {
      <ion-card
        class="coleccion-card"
        (click)="goToColeccion(coleccion.id)">

        <div class="coleccion-container">
          <div class="coleccion-info">
            <h2 class="coleccion-titulo">{{ coleccion.nombre }}</h2>
            <img class="img" src="assets/images/flecha.png">
          </div>
        </div>
      </ion-card>
    } @empty {
      <div class="ion-text-center ion-padding">
        <p style="color: white">Aún no tienes colecciones creadas.</p>
      </div>
    }

  </div>

</div>
