<ion-header>
  <app-cabecera></app-cabecera>
</ion-header>

<ion-content>
  <ion-toolbar>
    <div class="titulo-img">
      <img src="assets/images/inventario_logo.png" alt="Inventario Logo">
    </div>

    <div class="contenido-centrado">
      @if (usuario?.id !== undefined) {
        <app-tarjeta-inventario [usuarioId]="usuario!.id">
        </app-tarjeta-inventario>
      } @else {
        <p>Cargando inventario...</p>
      }
    </div>
  </ion-toolbar>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
