<ion-header>
  <app-cabecera></app-cabecera>
</ion-header>

<ion-content class="ion-padding">
  <div class="center-container">

    @if (cargando) {
      <div>
        <ion-spinner name="crescent"></ion-spinner>
        <p>Cargando tus recetas guardadas...</p>
      </div>
    } @else if (recetasGuardadas.length > 0) {
      <div class="titulo-img">
        <img src="./assets/images/guardados_logo.png">
      </div>

      @for (receta of recetasGuardadas; track receta.id) {
        <app-tarjeta-receta [receta]="receta"></app-tarjeta-receta>
      }
    } @else {
      <div class="titulo-img">
        <img src="./assets/images/no_guardados.png">
      </div>
    }

  </div>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
